.title
  %h1 New Translation

.tile-vertical
  / we have to force route because (against convention) @word can be an existing word in case of rerender
  = form_for @word, url: translations_path, method: :post do |f|
    = f.hidden_field :lang
    = hidden_field_tag :step, 1

    .language-input.primary{ lang: @word.lang, text: @word.name }

    - @translations.each do |(lang, word)|
      .language-input.hidden{ lang: lang, text: word }

    .actions
      - if @word.errors.any?
        %h3.description.error
          = @word.errors.full_messages.join(', ')

      = f.submit 'Create', class: 'next hidden'

      %input.next{ type: 'button', value: 'Continue' }
      %input.prev.hidden{ type: 'button', value: 'Back' }

:coffeescript
  $ () ->
    FirstLanguageBoxOptions =
      sourceUrl: '#{autocomplete_words_path}'
      inputFieldNameFormat: 'word[name]'
      word: '#{@word.name}'
      width: '513px'
      height: '93px'

    $('.content .language-input.primary').languageBox(FirstLanguageBoxOptions).find('textarea').focus()

    NextLanguageBoxOptions =
      sourceUrl: '#{autocomplete_words_path}'
      width: '513px'
      height: '93px'

    $(".content .language-input.hidden").languageBox NextLanguageBoxOptions

    # pressing enter on focused textareas indicates continuing the flow
    $('.content .language-input textarea').bind 'keydown.nextStep', 'return', (event) ->
      event.preventDefault()
      $(this).parents('.language-input').siblings('.actions').children('.next:visible').trigger 'click'

    steps =
      range:
        min: 1
        max: $('.content .language-input').length

      step:
        get: () -> Number $("#step").val()
        set: (step) -> $("#step").val step

      next: (@element) ->
        step = @step.get()

        if step < @range.max
          @findPrevButton().removeClass('hidden')
          @findCurrentBox().addClass('hidden')
          @findNextBox().removeClass('hidden').find('textarea').focus()

          @step.set step + 1

        if step + 1 >= @range.max
          @element.addClass('hidden')
          @findSubmitButton().removeClass('hidden')

      prev: (@element) ->
        step = @step.get()

        if step > @range.min
          @findCurrentBox().addClass('hidden')
          @findPrevBox().removeClass('hidden').find('textarea').focus()
          @findNextButton().removeClass('hidden')
          @findSubmitButton().addClass('hidden')

          @step.set step - 1

        if step - 1 <= @range.min
          @element.addClass('hidden')

      findCurrentBox: () ->
        $ @findBoxes()[@step.get() - 1]

      findPrevBox: () ->
        $ @findBoxes()[@step.get() - 2]

      findNextBox: () ->
        $ @findBoxes()[@step.get()]

      findBoxes: () ->
        @element.parents('form').find('.language-box')

      findPrevButton: () ->
        @element.siblings('.prev')

      findNextButton: () ->
        @element.siblings('.next')

      findSubmitButton: () ->
        @element.siblings("input[type='submit']")


    $('form .actions .next').bind 'click.nextLanguageBox', () -> steps.next $(this)

    $('form .actions .prev').bind 'click.prevLanguageBox', () -> steps.prev $(this)