= form_for @translating, class: 'container' do |form|
  .step.current
    = editable_language_box(@translating.original.try(:lang), for: 'translating[original]', class: 'word-with-context') do
      = form.fields_for :original, @translating.original do |original_word|
        = original_word.text_field :name, placeholder: 'Word'
      %hr
      = form.fields_for :original_context, @translating.original_context do |original_context|
        = original_context.hidden_field :id
        = original_context.text_field :sentence, placeholder: 'Context'

    .actions
      = form.submit(value: 'Continue', class: 'primary next-step')

  .step
    = editable_language_box(@translating.translated.try(:lang), for: 'translating[translated]', class: 'word-with-context') do
      = form.fields_for :translated, @translating.translated do |translated_word|
        = translated_word.text_field :name, placeholder: 'Word'
      %hr
      = form.fields_for :translated_context, @translating.translated_context do |translated_context|
        = translated_context.hidden_field :id
        = translated_context.text_field :sentence, placeholder: 'Context'

    .actions
      = link_to 'Back', '#', class: 'secondary prev-step'
      = form.submit(value: 'Save', class: 'primary')

:javascript
  $(function() {
    $("#new_translating .step").bind('step:in', function() {
      $(this).find('input[type=text], [contenteditable=true]').eq(0).focus();
    });
    
    new Step($("#new_translating"));
  });