.title
  %h1 New Word

.tile-vertical
  = form_for @word, url: words_path do |f|
    = f.hidden_field :lang
    .language-input

    .actions
      - if @word.errors.any?
        %h3.description.error
          = @word.errors.full_messages.join(', ')

      = f.submit 'Create', class: 'next'

:coffeescript
  $ () ->
    languageBoxOptions =
      sourceUrl: "#{autocomplete_words_path}"
      inputFieldNameFormat: 'word[name]'
      lang: "#{@word.lang}"
      text: "#{@word.name}"
      width: '513px'
      height: '93px'
      languages: document.languages
      languageChangeCallback: (new_lang) ->
        $('#word_lang').val new_lang

    $('.content .language-input').languageBox(languageBoxOptions).find('textarea').focus()

    $('.content .language-input textarea').bind 'keydown.nextStep', 'return', (event) ->
      event.preventDefault()
      $(this).parents('form').submit()