.title
  %h1
    New Translation
    %span.h-additional-info for "#{@word.highlight}"

.tile-vertical
  = form_for @word, url: create_translation_word_path(@word), method: :post do |f|
    = hidden_field_tag 'translation[lang]', @lang
    #translation.language-input{ lang: @lang }

    .actions
      = f.submit 'Create', class: 'next'

  :coffeescript
    $ () ->
      $('#translation').languageBox { sourceUrl: '#{autocomplete_words_path}', width: '513px', height: '93px', inputFieldNameFormat: 'translation[name]' }

      $('#translation textarea').focus()

      $('.content .language-input textarea').bind 'keydown.submitForm', 'return', (event) ->
        event.preventDefault()
        $(this).parents('form').submit()
