.title
  %h1 Word

#show.tile-vertical.top-8.bottom-9
  = word_box(@word) do |word|
    %li.clickable
      = link_to word.name, word

#edit.hidden.tile-vertical.top-8
  = form_for @word, :remote => true do |f|
    .language-box{ lang: @word.lang }

    .actions
      = f.submit 'Save'
      %input.prev{ type: 'button', value: 'Cancel' }

.title.tile-vertical
  %h2 Translations

- @translations.each do |(lang, translations)|
  .tile-vertical
    = word_box(translations, class: 'scalable') do |translation|
      %li.word.clickable.removeable
        = link_to '', remove_translation_word_path(@word, translation_id: translation), :method => :delete, :remote => true, :class => 'remove'
        = link_to translation.name, translation, :class => 'block'

    .actions
      = link_to 'Add', new_translation_word_path(@word, lang: lang), class: 'next'

- if @missing_translation_languages.present?
  .tile-vertical
    .actions.one-line
      - @missing_translation_languages.each do |lang|
        %a.next.with-flag{ href: new_translation_word_path(@word, lang: lang) }
          = image_tag "/assets/flag-#{lang}.png", class: 'flag'
          Add

/ there has to be javascript instead of coffeescript because of problems with different encodings
:javascript
  $(function() {
    $('#edit .language-box').languageBox({ text: "#{@word.name}", inputFieldNameFormat: 'word[name]', height: '95px', width: '513px' });
  });

:coffeescript
  $ () ->
    $(".word-box ul li.removeable .remove").bind 'click.hideAfterRemove', () -> $(this).parent().remove()
    $("#show .word-box .clickable").bind 'click.renderEdit', (event) ->
      event.preventDefault()
      $("#show, #edit").toggleClass('hidden')
      $("#edit textarea").focus()

    $("#edit textarea").bind 'keydown.doneEditing', 'return', (event) ->
      event.preventDefault()
      $("#edit form").trigger 'remoteSubmit'

    $("#edit .actions .prev").bind 'click.discardChanges', () ->
      $("#show, #edit").toggleClass('hidden')
      $("#edit textarea").val $("#show .word-box .clickable a").text()

      return true

    $("#edit textarea").bind 'keydown.discardChanges', 'esc', () ->
      event.preventDefault()

      if $("#edit").is(':visible')
        $('#edit .actions .prev').trigger 'click.discardChanges'

      return true

    $("#edit form input[type='submit']").click (event) ->
      event.preventDefault()
      $(this).parents('form').trigger 'remoteSubmit'

    $("#edit form").bind 'remoteSubmit', () ->
      $.post $(this).attr('action'), $(this).serialize(), (response) ->

      word = $("#edit").find('textarea').val()
      $("#show .word-box .clickable a").text word

      $("#show, #edit").toggleClass('hidden')