.title
  %h1
    %span#how-many-left= pluralize(@how_many_left, 'Questions')
    Left

.tile-vertical.top-8.bottom-9
  = word_box(@entry.question, id: 'question') do |question|
    %li.clickable
      = link_to question.name, question

.tile-vertical
  = form_for @entry, url: answer_exam_path, method: :post, remote: true do |f|
    = f.hidden_field :id
    #answer{ lang: @entry.answer_lang }

    .actions
      %h3.description Answer
      = f.submit 'Continue'

:coffeescript
  $ () ->
    updateWordBox = ($box, question) ->
      $box.find('.lang img.flag').attr { 'src': '/assets/flag-' + question.lang + '.png', 'alt': 'Flag-' + question.lang }
      $box.find('ul li').text(question.name)

    updateQuestionsCounter = (count) ->
      pluralized = if count == 1 then 'Question' else 'Questions'
      $('#how-many-left').text(count.toString() + ' ' + pluralized)

    submitForm = ($form) ->
      $.post $form.attr('action'), $form.serialize(), (response) ->
        if response.redirect?
          window.location.href = response.redirect
          return false

        updateWordBox $('#question'), response.question
        updateForm $form, $.extend({ reset: true }, response.entry)
        updateQuestionsCounter response.how_many_left

    updateForm = ($form, options) ->
      if options.reset?
        action = '#{answer_exam_path}'.replace(/\d+/, options.id)
        $form.attr('action', action).find('#exam_entry_id').val(options.id)
        $('#answer').attr('lang', options.answer_lang).empty()

      $('#answer').languageBox { autocomplete: false, inputFieldNameFormat: 'exam_entry[answer]', width: '513px', height: '93px' }
      $('#answer textarea').focus().bind 'keydown.nextQuestion', 'return', (event) ->
        event.preventDefault()
        $form.trigger 'submitForm'

    $form = $('.edit_exam_entry').bind 'submitForm', (event) -> submitForm($(this))
    $form.find("input[type='submit']").bind 'click', (event) ->
      event.preventDefault()
      $form.trigger('submitForm')

    updateForm $form, {}

    $form.find('textarea').focus()