!!! 5
%html
  %head
    %title Translate
    = favicon_link_tag '/images/favicon.png', type: 'image/png'

    = stylesheet_link_tag 'everything', 'jquery.tipsy'
    = javascript_include_tag 'jquery-1.7.2.min', 'jquery-ui-1.8.22.custom.min', 'jquery.tipsy'
    = yield :head if content_for?(:head)
    = csrf_meta_tags

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=yes' }

  %body
    %section.page
      %header.top-bar
        %a#logo{ href: '/', title: 'Still in alpha phase ;)' }

        = form_tag search_words_path, id: 'search-form' do
          = editable_language_box(Language::PRIMARY, name: 'search', class: 'compact search', switch: Language::FOREIGN) do
            = editable_field_tag('search[query]', '', placeholder: 'Search')

      %nav
        %ul.menu
          %li{ class: menu_item_class(/words|translatings/) }= link_to 'Words', words_path
          %li{ class: menu_item_class(/exams/) }= link_to 'Quiz', exam_path_considering_session
          %li{ class: menu_item_class(/about/) }= link_to 'About', '#'
          %li= link_to '+', new_translating_path, class: 'add', id: 'add-new-translation', title: 'New Translation'

      %section.content
        = yield

      %footer
        2012 &copy; Artur Hebda