!!! 5
%html
  %head
    %title Translate
    = favicon_link_tag '/images/favicon.png', type: 'image/png'

    = stylesheet_link_tag "tiles"
    = javascript_include_tag "jquery-1.6.4.min", "jquery.ui-1.8.16.custom", "jquery.caret.1.02", "jquery.fcbkcomplete.min", "jquery.hotkeys", "jquery.identify", "jquery.language-box"
    = csrf_meta_tags
 
  %body
    .page
      .top-bar
        %a{ href: '/', title: 'Still in alpha phase ;)' }
          #logo

          /= link_to "What is this all about?", how_static_path, class: 'handwritten', style: 'float: right; margin-top: 16px'

      .clear

      .navigation
        %ul.menu
          %li{ class: menu_item_class(/words|translations/) }= link_to 'Words', words_path
          %li{ class: menu_item_class(/exams/) }= link_to 'Quiz', exam_path_considering_session
          %li
            %form#search-form{ action: search_words_path }
              = hidden_field_tag :lang, Language::PRIMARY
              .search-box

            = link_to 'Search', '#'

          %li= link_to '+', new_translation_path, class: 'add', title: 'Add New Translation'

      .content
        = yield

      :javascript
        document.languages = #{array_or_string_for_javascript(Language::AVAILABLE)};

      :coffeescript
        $ () ->
          # fix for remote calling delete links.
          $('a.remove').click (event) ->
            event.preventDefault()
            $.post $(this).attr('href'), { _method: 'delete' }
          
          # search
          searchOptions =
            lang: '#{Language::PRIMARY}'
            languages: document.languages
            layout: 'compact'
            autocomplete: false
            width: '281px'
            placeholder: 'Search...'
            inputFieldNameFormat: 'query'
            languageChangeCallback: (new_lang) ->
              $('#lang').val new_lang
          
          $('#search-form .search-box').languageBox searchOptions
          
          $('#search-form, #search-form + a').mouseover () ->
            $('#search-form:visible').clearQueue()
            $('#search-form').not(':visible').fadeIn(200)
          
          $('#search-form, #search-form + a').mouseout () ->
            $('#search-form:visible').delay(100).queue () -> $(this).fadeOut(200).dequeue()