!!! 5
%html
  %head
    %title Translate
    %link{ rel: 'shortcut icon', href: '/assets/translate_favicon.png' }
    = stylesheet_link_tag "tiles"
    = javascript_include_tag "application"
    = csrf_meta_tags
 
  %body
    .page
      .top-bar
        %a{ href: '/' }
          %canvas#logo

      .clear

      .navigation
        %ul.menu
          %li{ class: menu_item_class(/words/) }= link_to 'Words', words_path
          %li{ class: menu_item_class(/exams/) }= link_to 'Quiz', exam_path_considering_session
          %li
            %form#search-form{ action: search_words_path }
              .search-box

            = link_to 'Search', '#'

          %li= link_to '+', new_word_path, class: 'add'

      .content
        = yield

      :javascript
        $(function() {
          canvg('logo', '/assets/translate_logo.svg');
          $.fn.languageBox.defaults.width = '513px';
          $('#german').languageBox({ lang: 'de', autocomplete: 'false' });
      
          // search
          $('#search-form .search-box').languageBox({ lang: 'pl', layout: 'compact', autocomplete: 'false', width: '281px', placeholder: 'Search...', inputFieldNameFormat: 'query' });
          $('#search-form, #search-form + a').mouseover(function() {
            $('#search-form:visible').clearQueue();
            $('#search-form').not(':visible').fadeIn(200);
          }).mouseout(function() {
            $('#search-form:visible').delay(100).queue(function() { $(this).fadeOut(200).dequeue(); });
          });
        });